---
language: node_js
dist: xenial
os: linux
node_js: "13"

cache:
  directories:
    - node_modules

script:
  - npm run test
  - npm run report-coverage
  - npm run format && git diff --exit-code

# Only build pull requests and releases, don't build master on pushes,
# except through api or cron.
if: type IN (pull_request, api, cron) OR tag IS present
